<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
      <link rel="stylesheet" href="../static/css/style.css" type='text/css'>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- Bootstrap core CSS -->
      <link href="../static/css/bootstrap.min.css" rel="stylesheet">
      <!-- Material Design Bootstrap -->
      <link href="../static/css/mdb.min.css" rel="stylesheet">
      <!-- Your custom styles (optional) --> 
      <link href="../static/css/style.css" rel="stylesheet">
      <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
      <script src="../static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
      <script src = "../static/js/index.js"></script>
      <style>
          body{
            background-color:lightblue;
          }
          #image1{
            object-fit: contain;
            width: 400px;
            height: 400px;
          }
          
        
      
      
      </style>
  </head>
<body>
    <div style="background-color:#66b3ff" class="jumbotron text-center">
        <h1>Object Detection</h1>
        <p style = "color:black"><b>Upload the Image , submit and click Run model to test the model</b> </p> 
    </div>

    
    <div class="container">
        <div class="row">
          <div class = "col-sm-5">
              <div class = "well well-sm">

                  <img id = 'image1' src="{{filepath}}"  class = 'img-rounded' alt="Could not show the image" >
                  {%print(filepath) %}
              </div>


          </div>
          <div class = "col-sm-5">
              <h1 id="heading">{%print(value)%}</h1>

              <form action = "/" method = "POST" 
                enctype = "multipart/form-data">
                <input type="radio" name="radio1" value="yolo">Yolo</input>
                <input type="radio" name="radio1" value="resnet">Resnet</input>
                <input type="radio" name="radio1" value="ourmodel">OurModel</input>
                <input type="radio" name="radio1" value="maskrcnn">Mask RCNN</input>
                <input type = "file" name = "file" /><br/>
                <input type = "submit" class="btn btn-primary btn-lg"/><br/>
            </form>
        
            <br/>
            <form action = "/modelrun" method="POST">
                <input type = "submit" value="Run model" class="btn btn-primary btn-lg"/>
    
    </form>
          </div>
        </div>
    </div>
    
    

        
          


   


</body>
</html>